@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}
.entire {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
}
a, div {
    text-decoration: none;
}
*, :after, :before {
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
}
div {
    display: block;
    unicode-bidi: isolate;
}
body {
    line-height: inherit;
    margin: 0;
}
body {
    font-family: Pretendard;
}
html {
    font-family: sans-serif;
    font-size: 12.5px;
}
:host, html {
    font-feature-settings: normal;
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-variation-settings: normal;
    line-height: 1.5;
    tab-size: 4;
}
.Wrapper {
    position: fixed;
    width: 42px;
    height: 42px;
    right: 16px;
    bottom: calc(env(safe-area-inset-bottom) + 72px);
    z-index: 999;
    display: none;
}
.Btn{
    width: 0px;
    height: 0px;
    border: 0px;
    border-radius: 50%;
    text-indent: -100em;
    overflow: hidden;
    padding: 0px;
    outline: none;
    position: absolute;
    background: transparent;
    z-index: 2;
}
button, html input[type='button'], input[type='reset'], input[type='submit'] {
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font: inherit;
    margin: 0;
    color: inherit;
    font-family: inherit;
    font-feature-settings: inherit;
    font-size: 100%;
    font-variation-settings: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    padding: 0;
}
[role=button], button {
    cursor: pointer;
}
button, input:where([type=button]), input:where([type=reset]), input:where([type=submit]) {
    background-color: transparent;
    background-image: none;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font-family: inherit;
    font-feature-settings: inherit;
    font-size: 100%;
    font-variation-settings: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}
button {
    appearance: auto;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em 0em 0em 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}
.Btn span {
    position: relative;
}
.Icon {
    position: absolute;
    cursor: pointer;
    left: 0px;
    top: 0px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(208, 208, 208);
    transition-property: opacity, border;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: flex !important;
    opacity: 0 !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0px !important;
}
svg:not(:root) {
    overflow: hidden;
}
.Icon svg {
    width: 24px;
    fill: rgb(13, 13, 13);
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}
audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
}
svg{
    height: 18px;
    width: 22px;
}
svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}
:not(svg) {
    transform-origin: 0px 0px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
.CreatorCenterLayout__Wrapper {
    background-color: white;
    width: 100%;
    margin: 0px auto;
    min-height: calc(-56px + 100vh);
    padding: 0px;
    max-width: 1160px;
}
.CreatorCenterLayout__PageWrapper{
    margin: 0px auto;
    padding: 0px;
}
.CreatorCenterLayout__TabListWrapper {
    padding: 0px;
}
.CreatorCenterLayout__TabList {
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 0px;
    width: 100%;
    border-color: rgb(228 228 228);
    border-bottom-width: 1px;
    overflow-x: auto;
    display: flex;
}
.CreatorCenterLayout__StyledTabTrigger1 {
    display: flex;
    align-items: center;
    gap: 4px;
    color: rgb(158, 158, 158) !important;
    background-color: #fff;
    animation-timing-function: cubic-bezier(0, 0, .2, 1);
    animation-duration: .3s;
    transition-duration: .3s;
    transition-duration: .15s;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    padding-bottom: 14px;
    padding-bottom: 15px;
    padding-top: 10px;
    padding-left: 4px;
    padding-right: 4px;
    border-color: transparent;
    border-bottom-width: 2px;
    white-space: nowrap;
    flex-shrink: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
}
.CreatorCenterLayout__StyledTabTrigger2 {
    display: flex;
    align-items: center;
    gap: 4px;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 0;
    font: inherit;
    color: inherit;
    animation-timing-function: cubic-bezier(0, 0, .2, 1);
    animation-duration: .3s;
    transition-duration: .3s;
    transition-duration: .15s;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    padding-bottom: 14px;
    padding-bottom: 15px;
    padding-top: 10px;
    padding-left: 4px;
    padding-right: 4px;
    border-color: rgb(255, 87, 87);
    border-bottom-width: 2px;
    white-space: nowrap;
    flex-shrink: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
}
[role=button], button {
    cursor: pointer;
}
blockquote, dd, dl, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}
.PreviousReviewContainer {
    display: block;
}
.PreviousReview__Wrapper {
    margin: 40px 0px 20px;
    padding: 0px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.PreviousReview__Container {
    display: flex;
    gap: 4px;
    -webkit-box-align: center;
    align-items: center;
}
.PreviousReviewTitle{
    font: 700 18px / 28px Pretendard, sans-serif;
}
.PreviousReviewTotal {
    font: 700 18px / 28px Pretendard, sans-serif;
    color: rgb(248, 100, 83);
}

.Reviews__Wrapper {
    padding: 0px;
}
.Reviews__Container {
    padding: 0px 0px 12px;
    border-bottom: 1px solid rgb(240, 240, 240);
}
.Review__Content {
    margin: 0px;
    padding: 0px;
}
.Review__Wrapper {
    display: flex;
    transition: max-height 0.7s ease-out;
    scrollbar-width: none;
    max-height: 34px;
    overflow: hidden;
    cursor: pointer;
}
.ReviewTitle {
    font: 400 13px / 22px Pretendard, sans-serif;
    color: rgb(109, 109, 109);
    width: 60px;
    padding: 6px 0px;
    margin-right: 12px;
}
.ReviewOption__Wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
}
.ReviewOption {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 6px 0px;
}
.OptionItemTitle__first {
    font: 700 13px / 22px Pretendard, sans-serif;
    width: 80px;
    color: rgb(13, 13, 13);
}
.ProgressBar__Bar__first-86{
    position: relative;
    flex: 1 1 auto;
    height: 6px;
    background-color: rgb(228, 228, 228);
    border-radius: 6px;
}
.ProgressBar__Bar__first-86::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    height: 100%;
    width: 86%;
    max-width: 100%;
    background-color: rgb(248, 100, 83);
    border-radius: 6px;
}
.ReviewKeywordItem__Rate {
    font: 400 13px / 22px Pretendard, sans-serif;
    color: rgb(109, 109, 109);
    margin-left: 8px;
    width: 40px;
}
svg:not(:root) {
    overflow: hidden;
}
audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}

.OptionItemTitle__second {
    font: 700 12px / 20px Pretendard, sans-serif;
    width: 80px;
    color: rgb(158, 158, 158);
}
.ProgressBar__Bar__second-15 {
    position: relative;
    flex: 1 1 auto;
    height: 6px;
    background-color: rgb(228, 228, 228);
    border-radius: 6px;
}
.ProgressBar__Bar__second-15::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    height: 100%;
    width: 15%;
    max-width: 100%;
    background-color: rgb(109, 109, 109);
    border-radius: 6px;
}
.IconWrapper__second {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s ease-out;
    margin-left: 4px;
    width: 16px;
    transform: rotate(-180deg);
    visibility: hidden;
}
.IconWrapper__second path {
    fill: rgb(208, 208, 208);
}
.ProgressBar__Bar__second-0 {
    position: relative;
    flex: 1 1 auto;
    height: 6px;
    background-color: rgb(228, 228, 228);
    border-radius: 6px;
}
.ProgressBar__Bar__first-100 {
    position: relative;
    flex: 1 1 auto;
    height: 6px;
    background-color: rgb(228, 228, 228);
    border-radius: 6px;
}
.ProgressBar__Bar__first-100::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    height: 100%;
    width: 100%;
    max-width: 100%;
    background-color: rgb(248, 100, 83);
    border-radius: 6px;
}
.ProgressBar__Bar__second-8 {
    position: relative;
    flex: 1 1 auto;
    height: 6px;
    background-color: rgb(228, 228, 228);
    border-radius: 6px;
}
.ProgressBar__Bar__second-8::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    height: 100%;
    width: 8%;
    max-width: 100%;
    background-color: rgb(109, 109, 109);
    border-radius: 6px;
}
.Reply__Main{
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.ReplyList__ListContainer {
    opacity: 1;
    transition: opacity 0.2s;
}
.ReplyItem__Container{
    padding: 24px;
    display: flex;
    justify-content: space-between;
    padding: 20px 16px;
    border-top: 1px solid rgb(228, 228, 228);
    border-right: 1px solid rgb(228, 228, 228);
    border-left: 1px solid rgb(228, 228, 228);
    border-image: initial;
    border-bottom: 1px solid rgb(228, 228, 228);
    cursor: pointer;
}
.ReplyItem__Content{
    display: flex;
    flex-direction: column;
}
.ReplyItem__Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ReplyItem__HeaderContent{
    display: flex;
    align-items: center;
    gap: 4px;
}
.ReplyType__Type {
    font-size: 13px;
    font-weight: bold;
    line-height: 120%;
    color: rgb(158, 158, 158);
}
.ReplyStatusBadge__Badge  {
    padding: 3px 4px;
    border-radius: 2px;
    font-size: 10px;
    font-weight: bold;
    line-height: 120%;
}
.Spacing__Wrapper1 {
    height: 8px;
}
.Spacing__Wrapper2 {
    height: 16px;
}
.ReplyItem__Title{
    font-size: 18px;
    font-weight: normal;
    line-height: 120%;
    color: rgb(28, 28, 28);
    display: -webkit-box;
    overflow: hidden;
    word-break: break-word;
}
.ReplyItem__CreatedAt {
    font-size: 13px;
    font-weight: normal;
    line-height: 150%;
    color: rgb(84, 84, 84);
}




