<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.haetssal_jangteo.mapper.AdminMapper">
        <update id="update">
            update tbl_item
            set item_name = #{itemName},
                item_price = #{itemPrice},
                item_type = #{itemType},
                item_category_id = #{itemCategoryId},
                item_state = #{itemState},
                updated_datetime = #{updatedDatetime}
            where id = #{id}
        </update>

    <select id="selectAll">
        select id, item_store_id, item_category_id, item_name, item_type, item_stock, item_price, item_delivery_fee, item_content, item_state, item_view_count, created_datetime, updated_datetime
        from tbl_item
    </select>
</mapper>