<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.haetssal_jangteo.mapper.ReviewMapper">


    <select id="selectByStoreId">
        select
            id,
            review_item_id,
            review_user_id,
            review_score_quality,
            review_score_delivery,
            review_score_kind,
            review_content,
            review_state,
            created_datetime,

            userName,
            userFileName,
            userFileSavedPath,

            itemName,
            itemPrice,
            itemStoreid,
            itemFileName,
            itemFileSavedPath
        from vw_store_review
        where itemStoreid = #{storeId}
    </select>
</mapper>