<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.haetssal_jangteo.mapper.UserMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into tbl_user (user_email, user_password, user_phone, user_name, user_type)
        values(#{userEmail}, #{userPassword}, #{userPhone}, #{userName}, #{userType})
    </insert>
    
    <insert id="insertOauth">
        insert into tbl_auth(id, auth_provider)
        values (#{id}, #{authProvider})
    </insert>

    <select id="selectByEmail">
        select
            u.id, user_email, user_password, user_phone, user_type,
            user_name, user_intro, user_visit_count, user_latest_login,
            user_state, created_datetime, updated_datetime, a.auth_provider
        from tbl_user u join tbl_auth a
        on u.id = a.id
        where user_email = #{userEmail}
    </select>

    <select id="selectUserForLogin">
        select
            u.id, user_email, user_password, user_phone, user_type,
            user_name, user_intro, user_visit_count, user_latest_login,
            user_state, created_datetime, updated_datetime, a.auth_provider
        from tbl_user u join tbl_auth a
        on u.id = a.id
        where user_email = #{userEmail} and user_password = #{userPassword}
    </select>

    <update id="updateVisitCountAndLatestLogin">
        update tbl_user
        set user_visit_count = user_visit_count + 1,
            user_latest_login = current_timestamp
        where id = #{id}
    </update>

    <select id="selectById">
        select
            u.id, user_email, user_password, user_phone, user_type,
            user_name, user_intro, user_visit_count, user_latest_login,
            user_state, created_datetime, updated_datetime, a.auth_provider
        from tbl_user u join tbl_auth a
        on u.id = a.id
        where u.id = #{id}
    </select>

    <update id="updateName">
        update tbl_user
        set user_name = #{userName}, updated_datetime = current_timestamp
        where id = #{id}
    </update>

    <update id="updateIntro">
        update tbl_user
        set user_intro = #{userIntro}, updated_datetime = current_timestamp
        where id = #{id}
    </update>

    <update id="updatePassword">
        update tbl_user
        set user_password = #{userPassword}, updated_datetime = current_timestamp
        where id = #{id}
    </update>

    <update id="updateUpdatedDatetimeForProfile">
        update tbl_user
        set updated_datetime = current_timestamp
        where id = #{id}
    </update>

    <!-- 지금 화면은 개별 수정인데.. 혹시 대시보드마다 저장버튼 만들면..? -->
<!--    <update id="updateFirstDashboard">-->
<!--        update tbl_user-->
<!--        set user_name = #{userName},-->
<!--            user_intro = #{userIntro}-->
<!--        where id = #{id}-->
<!--    </update>-->
</mapper>